.mark-outer {
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: 2000;
}

.single-mark {
  display: block;
  text-align: center;
  overflow: hidden;
  position: absolute;
}
